<h1>Show all users</h1>

<div class="table">
  <table style="width:80%">
    <thead>
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Profile Link</th>
      </tr>
    </thead>
    <tbody>    
      <% @users.each do |user| %>
        <tr>
          <td id="desc-row"><%= user.username %></td>
          <td><%= user.email %></td>
          <td><%= link_to 'Button', user_path(user) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>