<!DOCTYPE html>
<html>
<title>Cuma Bolat Portfolio</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <body class="w3-light-grey">
    <!-- Page Content -->
    <div class="w3-padding-large" id="main">
      <!-- Header/Home -->
      <header class="w3-container w3-padding-32 w3-center w3-light-grey" id="home">
        <h1 class="w3-jumbo"><span class="w3-hide-small">I'm</span> Cuma Bolat</h1>
        <p>Backend Engineer</p>
        <img src="assets/foto" alt="gariban" class="w3-image" width="992" height="1108">
      </header>

      <!-- About Section -->
      <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
        <h2 class="w3-text-black">Cuma Bolat</h2>
        <hr style="width:200px" class="w3-opacity">
        <p>
          Hi! I am a third grade Computer Engineering student who is interested in Backend Development.
        </p>
      </div>

      <!-- Contact Section -->
      <div class="w3-padding-64 w3-content w3-text-black" id="contact">
        <h2 class="w3-text-light-grey">Contact Me</h2>
        <hr style="width:200px" class="w3-opacity">

        <div class="w3-section">
          <p><i class="fa fa-map-marker fa-fw w3-text-black w3-xxlarge w3-margin-right"></i> Mugla, Turkey</p>
          <p><i class="fa fa-envelope fa-fw w3-text-black w3-xxlarge w3-margin-right"> </i> Email: cumabolat@posta.mu.edu.tr</p>
        </div><br>
        <p>Feel free to send me a message:</p>
        <form action="/action_page.php" target="_blank">
          <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" required name="Name"></p>
          <p><input class="w3-input w3-padding-16" type="text" placeholder="Email" required name="Email"></p>
          <p><input class="w3-input w3-padding-16" type="text" placeholder="Subject" required name="Subject"></p>
          <p><input class="w3-input w3-padding-16" type="text" placeholder="Message" required name="Message"></p>
          <p>
            <button class="w3-button w3-light-grey w3-padding-large" type="submit">
              <i class="fa fa-paper-plane"></i> SEND MESSAGE
            </button>
          </p>
        </form>
      <!-- End Contact Section -->
      </div>
    <!-- END PAGE CONTENT -->
    </div>
  </body>
</html>
