<footer class="py-4 w3-light-grey text-white fixed-bottom">
  <div class="container text-center w3-light-grey">
    <small>There is no copyright, I stole it from somewhere else &copy; <%= link_to "CumaBolat", "https://github.com/CumaBolat", class: "text-black" %></small>
  </div>
</footer>